<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" media="screen and (min-width:768px)">
    <link rel="stylesheet" href="{{ url_for('static', filename='sp.css') }}" media="screen and (max-width:767px)">
    <title>Login</title>
</head>
<body>
    <h1>ログイン</h1>
    <form method="POST" action="/login">
        <label for="username">お名前:</label>
        <input type="text" name="username" required><br>

        <label for="password">パスワード:</label>
        <input type="password" name="password" required><br>

        <input type="submit" value="ログイン">
    </form>
</body>
</html>
